<div class="row">
  <div class="col-sm-8 col-sm-push-4">
    <div class="panel">
      <div class="user panel-body">
        <%= render "users/users", users: @users %>
      </div>
    </div>
  </div>

  <aside class="col-sm-4 col-sm-pull-8">
    <div class="panel">
      <div class="panel-heading">
        <div class="text-center">
          フォロー中
        </div>
      </div>
      <div class="panel-body">
        <%= render 'users/users', users: @followings %>
        <% unless @followings.any? %>
          <i class="fas fa-user-check home-icon"></i> 気になるユーザをフォローしよう
        <% end %>
      </div>
    </div>
  </aside>
</div>
