<div class="row">
  <aside class="col-sm-4">
    <div class="panel">
      <div class="panel-heading">
        <div class="text-center">
          <span class="gravatar">
            <img src="<%= gravatar_url(current_user, size: 80) %>" alt="" class="img-circle">
          </span>
          <h4><%= @user.name %>
        </div>
      </div>
      <div class="panel-body">
        プロフィール
      </div>
    </div>
  </aside>
  
  <div class="col-sm-8">
    <div class="panel">
      <div class="panel-heading justify">
        <a class="show-btn active" href="#">投稿</a>
        <a class="show-btn" href="#">フォロー</a>
        <a class="show-btn" href="#">フォロワー</a>
        <a class="show-btn" href="#">いいね</a>
      </div>
      <div class="panel-body">
        投稿内容
      </div>
    </div>
  </div>
  <%= render 'layouts/fixed_btn'%>
</div>
