<div class="row">
  <aside class="col-sm-4">
    <div class="panel">
      <div class="panel-heading">
        <div class="text-center">
          <i class="fas fa-user-circle fa-5x"></i>
          <h4><%= @user.name %>
        </div>
      </div>
      <div class="panel-body">
        プロフィール
      </div>
    </div>
  </aside>
  
  <div class="col-sm-8">
    <div class="panel">
      <div class="panel-heading justify">
        <a class="show-btn active" href="#">投稿</a>
        <a class="show-btn" href="#">フォロー</a>
        <a class="show-btn" href="#">フォロワー</a>
        <a class="show-btn" href="#">いいね</a>
      </div>
      <div class="panel-body">
        投稿内容
      </div>
    </div>
  </div>
</div>
