<div class="topcoment text-center">
  <h1>Welcome to the Microposts</h1>
  <h3>投稿してみんなとつながろう</h3>
  <%= link_to 'アカウント作成', signup_path, class: 'btn yellow-btn'%>
  <div class="btn blue-btn">ログイン</div>
</div>
