<% if current_user.good?(micropost) %>
  <%= link_to micropost_goods_path(micropost.id), method: :delete, remote: true do %>
    <span class="btn icon-btn good-btn good"><i class="fas fa-thumbs-up"></i> <%= micropost.goods.count %></span>
  <% end %>
<% else %>
  <%= link_to micropost_goods_path(micropost.id), method: :post, remote: true do %>
    <span class="btn icon-btn good ungood"><i class="far fa-thumbs-up"></i> <%= micropost.goods.count %></span>
  <% end %>
<% end %>
