@charset "utf-8";

body {
  color: #463925;
  word-break: break-all;
}

.toppage {
  background-image: linear-gradient(-90deg, #D1FFFE, #FFF0D1);
}

.home {
  background-image: linear-gradient(-90deg, #ECFBFE, #FEF7EC);
}

.navbar-nav>li>a.dropdown-toggle {
  padding-top: 8px;
  padding-bottom: 0px
}

.fixed_btn {
  position: fixed;
  bottom: 40px; 
  right: 9%;
  padding: 6px 40px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  color: #fff;
  background-color: #93c9ff;
  border: 1.5px solid #93c9ff;
  border-radius:33px;
  text-decoration: none;
}

.fixed_btn:hover {
  background: #74baff;
  text-decoration: none;
}

.fa-comment {
  color: #fff;
}

.navbar {
  background-color: #fff;
}

.fa-comments {
    color: #b7dbff;
}
.navbar-default .navbar-nav>.active>a {
  color: #7fafe0;
  background-color: rgb(255, 255, 255);
}
.navbar-default .navbar-nav>.active>a:hover {
  color: #93c9ff;
  background-color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #93c9ff;
  background-color: transparent;
}

.nav-icon {
  font-size: 20px;
}

.topcoment h1 {
margin-top: 15%;
}

.blue-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #696969;
  border: 2px solid #808080;
  text-decoration: none;
  margin: 20px;
}

.blue-btn:hover {
  background: #93c9ff;
  color: #fff;
  border: 2px solid #93c9ff;
  text-decoration: none;
  margin: 20px;
}

.yellow-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #696969;
  border: 2px solid #808080;
  text-decoration: none;
  margin: 20px;
}

.yellow-btn:hover {
  background: #f2d58a;
  color: #fff;
  border: 2px solid #f2d58a;
  text-decoration: none;
  margin: 20px;
}

.jumbotron {
  background-color: #ffffff;
}

.yellow-btn2 {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #f2d58a;
  border: solid 2px #f2d58a;
  background-color: #fff;
  border-radius: 3px;
  transition: .2s;
}

.yellow-btn2:hover {
  background: #f2d58a;
  color: white;
}

.blue-btn2 {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #93c9ff;
  border: solid 2px #93c9ff;
  background-color: #fff;
  border-radius: 3px;
  transition: .2s;
}

.blue-btn2:hover {
  background: #93c9ff;
  color: white;
}
.panel {
  border: solid 1px #dcdcdc;
}

.panel-heading {
  border-bottom: dashed 1px #c7a799;
}

.justify {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}


.show-btn {
	padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  background-color: #fff;
  border-radius:15px;
}

.show-btn:hover {
  background: #b0d7ff81;
}

.show-btn.active {
  background: #ffe7989f;
}

.show-btn-link {
  color: #696969;
}

.show-btn-link:hover {
  text-decoration: none;
  color: #696969;
}

.post-btn {
  background-color: #a6d3ffab;
  transition: .2s;
}

.post-btn:hover {
  background-color: #a6d3ff;
}

.home-icon {
  font-size: 20px;
  color: #4453637c;
}

.media {
  border-bottom: solid 1px #e4e4e4;
  position: relative;
  padding: 5px;
  margin: 0px;
}

.media-body {
  padding: 0px 0px 10px 5px;
}

.user.media-heading {
  padding-bottom: 10px;
}

.follow {
  position: relative;
  padding: 1px 25px;
  float: right;
}

h5.microposts {
  margin: 0px;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.link:hover {
  background-color: #b8b8b818;
}

.micropost.panel-body {
  padding-top: 0px;
}

.fa-trash-alt {
  color: #d8565688;
}

.fa-trash-alt:hover {
  color: #ff0000a8;
}

.post-info-btn {
  background-color: #93c9ff;
  padding: 3px 10px;
  color: #fff;
  border-radius:33px;
  font-size: 15px;
}