@charset "utf-8";

body {
  color: #463925;
  word-break: break-all;
  padding-top: 70px;
}

.navbar-header button {
  padding: 5px 6px;
}

.pagination>.active>a {
  background: #93c9ff;
  border-color: #93c9ff;
  border-radius:15px;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>li>a:hover {
  border-radius:15px;
}

.toppage {
  background-image: linear-gradient(-90deg, #D1FFFE, #FFF0D1);
}

.container-fluid {
  padding: 0px;
}

.top-discription {
  background: #fcfafa;
  padding-top: 20px;
  padding-bottom: 30px;
}

img.top-img {
  width: 330px;
  height: 225px;
  margin-top: 20px;
  border: 1px solid #664b22;
}

.home {
  background-image: linear-gradient(-90deg, #ECFBFE, #FEF7EC);
}

#footer {
  display: block;
  height: 70px;
}

.navbar-nav>li>a.dropdown-toggle {
  padding-top: 8px;
  padding-bottom: 0px
}

.fixed_btn {
  position: fixed;
  bottom: 40px; 
  right: 9%;
  padding: 6px 40px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  color: #fff;
  background: #93c9ff;
  border: 1.5px solid #93c9ff;
  border-radius:33px;
  text-decoration: none;
}

.fixed_btn:hover {
  background: #74baff;
  text-decoration: none;
}

.navbar {
  background: #fff;
}

.fa-comments {
    color: #b7dbff;
}
.navbar-default .navbar-nav>.active>a {
  color: #7fafe0;
  background: rgb(255, 255, 255);
}
.navbar-default .navbar-nav>.active>a:hover {
  color: #93c9ff;
  background: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #93c9ff;
  background: transparent;
}

.nav-icon {
  font-size: 20px;
}

.topcoment h2 {
color: #4f555f;
margin-top: 15%;
word-break: normal;
}

.topcoment h4 {
  color: #5b677a;
}

.topcoment.text-center {
  margin-bottom: 10%;
}

.blue-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #696969;
  border: 2px solid #808080;
  text-decoration: none;
  margin: 20px;
}

.blue-btn:hover {
  background: #93c9ff;
  color: #fff;
  border: 2px solid #93c9ff;
  text-decoration: none;
  margin: 20px;
}

.yellow-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #696969;
  border: 2px solid #808080;
  text-decoration: none;
  margin: 20px;
}

.yellow-btn:hover {
  background: #f2d58a;
  color: #fff;
  border: 2px solid #f2d58a;
  text-decoration: none;
  margin: 20px;
}

.jumbotron {
  background: #ffffff;
}

.yellow-btn2 {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #e2af2c;
  border: solid 2px #f2d58a;
  background: #fff;
  border-radius: 3px;
  transition: .2s;
}

.yellow-btn2:hover {
  background: #f2d58a;
  text-decoration: none;
  color: white;
}

.blue-btn2 {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #56aaff;
  border: solid 2px #93c9ff;
  background: #fff;
  border-radius: 3px;
  transition: .2s;
}

.blue-btn2:hover {
  background: #93c9ff;
  color: white;
}

.red-btn2{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #e27373;
  border: solid 2px #e27373;
  background: #fff;
  border-radius: 3px;
  transition: .2s;
  margin-top: 20px;
}

.red-btn2:hover {
  background: #e27373;
  color: white;
  text-decoration: none;
}

.panel {
  border: solid 1px #dcdcdc;
}

.panel-heading {
  border-bottom: dashed 1px #c7a799;
}

.justify {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.show-btn {
	padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  background: #fff;
  border-radius:15px;
}

.show-btn:hover {
  background: #b0d7ff81;
}

.show-btn.active {
  background: #ffe7989f;
}

.show-btn-link {
  color: #696969;
}

.show-btn-link:hover {
  text-decoration: none;
  color: #696969;
}

.post-btn {
  background: #a6d3ffab;
  transition: .2s;
}

.post-btn:hover {
  background: #a6d3ff;
}

.home-icon {
  font-size: 20px;
  color: #4453637c;
}

.media {
  border-bottom: solid 1px #e4e4e4;
  position: relative;
  padding: 5px;
  margin: 0px;
}

.media-body {
  padding-left: 5px;
}

.media-left {
  padding-right: 3px;
}

.follow-btn {
  position: relative;
  padding: 1px 25px;
  margin-top: 5px;
  float: right;
  border: 1.5px solid #5fb9dd;
  border-radius:33px;
  background: #fff;
  color: #5fb9dd;
}

.follow-btn:hover {
  background: #daf4ff50;
  color: #5fb9dd; 
}

.unfollow-btn {
  position: relative;
  padding: 1px 25px;
  margin-top: 5px;
  float: right;
  border: 1.5px solid #5fb9dd;
  border-radius:33px;
  background: #5fb9dd;
  color: #fff;
}

.unfollow-btn:hover {
  background: #ff4848;
  border: 1.5px solid #ff4848;
  color: #fff;
}

h5.microposts {
  margin: 0px;
  word-break: keep-all;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.link:hover {
  background: #ccdff111;
}

.fa-trash-alt {
  color: #d8565688;
}

.fa-trash-alt:hover {
  color: #ff0000a8;
}

.post-info-btn {
  background: #93c9ff;
  padding: 3px 10px;
  color: #fff;
  border-radius:33px;
  font-size: 15px;
}

.icon-btn {
  position: relative;
  border: 0px;
  padding: 0px;
  background: #fff;
}

.post-text {
  margin: 5px 0px 0px 0px;
}

.good {
  margin: 0px 60px 0px 0px;
}

.good-btn {
  color: #ff9124;
}

.comment-icon {
  border: #fff;
}

.comment-btn {
  background: #e9f4ff;
  border: 1px solid #573a0d;
  color: #573a0d;
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 5px;
}

.comment-btn:hover {
  background: #bbddff;
}
