@charset "utf-8";

body {
  color: #666666;
}

.toppage {
  background-image: linear-gradient(-90deg, #D1FFFE, #FFF0D1);
}

.home {
  background-image: linear-gradient(-90deg, #ECFBFE, #FEF7EC);
}

.fixed_btn {
  position: fixed;
  bottom: 40px; 
  right: 9%;
  padding: 6px 40px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  color: #fff;
  background-color: #93c9ff;
  border: 1.5px solid #93c9ff;
  border-radius:33px;
  text-decoration: none;
}

.fixed_btn:hover {
  background: #74baff;
  text-decoration: none;
}

.fa-comment {
  color: #fff;
}

.navbar {
  background-color: #fff;
}

.fa-comments {
    color: #b7dbff;
}
.navbar-default .navbar-nav>.active>a {
  color: #7fafe0;
  background-color: rgb(255, 255, 255);
}
.navbar-default .navbar-nav>.active>a:hover {
  color: #93c9ff;
  background-color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #93c9ff;
  background-color: transparent;
}

.nav-icon {
  font-size: 20px;
}

.topcoment h1 {
margin-top: 150px;
}

.blue-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #696969;
  border: 2px solid #808080;
  text-decoration: none;
  margin: 20px;
}

.blue-btn:hover {
  background: #93c9ff;
  color: #fff;
  border: 2px solid #93c9ff;
  text-decoration: none;
  margin: 20px;
}

.yellow-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #696969;
  border: 2px solid #808080;
  text-decoration: none;
  margin: 20px;
}

.yellow-btn:hover {
  background: #f2d58a;
  color: #fff;
  border: 2px solid #f2d58a;
  text-decoration: none;
  margin: 20px;
}

.jumbotron {
  background-color: #ffffff;
}

.yellow-btn2 {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #f2d58a;
  border: solid 2px #f2d58a;
  background-color: #fff;
  border-radius: 3px;
  transition: .2s;
}

.yellow-btn2:hover {
  background: #f2d58a;
  color: white;
}

.blue-btn2 {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #93c9ff;
  border: solid 2px #93c9ff;
  background-color: #fff;
  border-radius: 3px;
  transition: .2s;
}

.blue-btn2:hover {
  background: #93c9ff;
  color: white;
}
.panel {
  word-wrap: break-word;
  border: solid 1px #dcdcdc;
}

.panel-heading {
  border-bottom: dashed 1px #c7a799;
}

.justify {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}


.show-btn {
	padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #696969;
  background-color: #fff;
  border-radius:15px;
  text-decoration: none;
}

.show-btn:hover {
  background: #b0d7ff81;
  color: #696969;
  text-decoration: none;
}

.show-btn:active {
  top: 2px;
}

.active {
  background: #ffe7989f;
  color: #696969;
}

.post-btn {
  background-color: #a6d3ffab;
  transition: .2s;
}

.post-btn:hover {
  background-color: #a6d3ff;
}

.home-icon {
  font-size: 20px;
  color: #7fb9f3f6;
}